$font-stack: Proxima Nova;

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 1782px;
    top: 12px;
  }

.header{
    width: 1920px;
    height: 80px;
    background-color: #182D40;
}

.inputSearch{
   text-align: left;
   width: 410px;
   height: 40px;
   background-color: #3F4448;
   color: #919191;
   font-size: 25px;
   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
   border-radius: 50px;
   position: absolute;
   left: 757px;
   top: 20px;
    
}

.inputSearch::placeholder{
 
    text-align: center;
       
   }
  

.plus{
    position: absolute;
    left: 1714px;
    top: 25px;
}