$font-stack: Proxima Nova;
$secondary-color: #231d5a;
$primary-color: #7d7f81;

div {
  font: 100% $font-stack;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}

nav {
  href {
    color: $secondary-color;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

/* Definicion de gradientes a utilizar*/
$gradients: () !default;
$gradients: map-merge(
  (
    chill: linear-gradient(90deg, #09e485 0%, #0291e3 100%),
    warm: linear-gradient(90deg, #f2cd48 0%, #fd803f 100%),
    hot: linear-gradient(90deg, #f9445a 0%, #fd803f 100%),
    calm: linear-gradient(90deg, #8019c6 0%, #2f93cc 100%),
    cold: linear-gradient(90deg, #2bdfff 0%, #7d9eff 100%),
    nature: linear-gradient(90deg, #5feb6c 0%, #f3d429 100%),
    sky: linear-gradient(90deg, #7068bc 0%, #0782d4 100%),
    sunset: linear-gradient(90deg, #fe6daa 0%, #a87efa 100%)
  ),
  $gradients
);

// Gradient backgrounds
@mixin bg-gradient($parent, $gradient) {
  #{$parent} {
    background: $gradient;
  }
}
// Gradient text
@mixin text-gradient($parent, $gradient) {
  #{$parent} {
    background-image: $gradient;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}
// Gradient background Classes
@each $gradient, $value in $gradients {
  @include bg-gradient(".bg-gradient-#{$gradient}", $value);
}
// Gradient text Classes
@each $gradient, $value in $gradients {
  @include text-gradient(".text-gradient-#{$gradient}", $value);
}
