.lateral{
    width: 385px;
    height: 999px;
    background-color: aqua;
}

.head{
    position: absolute;
    top: 80px;
    left: 385px;
    width: 1535px;
    height: 290px;
    background-color: black;
}

.tripName{
    position: absolute;
    top: 30px;
    left: 260px;
    width: 356px;
    height: 55px;
    font-size: 30px;
    border-radius: 10px;
    background-color: lightgrey; 
}

.tags{
    position: absolute;
    top:85px;
    left:260px;
    width: 356px;
    height: 30px; 
    background-color: violet;
}

.destinoText{
    position: absolute;
    top: 170px;
    left: 620px;
}

.destinoSearch{
    position: absolute;
    top: 210px;
    left: 620px;
    width: 300px;
    border-radius: 10px;
    font-size: 20px;
}
